/* generic */
:root {
    /* dimensioni */

    --space-XS: 10px;
    --space-S: 20px;
    --space-M: 40px;
    --space-L: 80px;

    /* colors */

    --color-blue: #255ee9;
    --color-dark-grey: #292841;
    --color-violet: #8590ff;
    --color-beige: #f5f5f5;
    --color-white: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--color-dark-grey);
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--color-dark-grey);
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
    padding: 20px 10px;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
    font-weight: 400;
}

/* class-utilities .............. */
.container {
    /* width: 1200px; */
    width: 920px;
    margin: auto;
    /*  border: 1px solid red; */
}

.btn {
    background-color: var(--color-white);
    color: var(--color-dark-grey);
    border-radius: 50px;
    padding: 14px 20px;
    font-weight: 500;
}

.btn.small {
    padding: 6px 16px;
}

.btn.black {
    background-color: var(--color-dark-grey);
     color: #ffffff;
}

.btn.blue,
.btn.blue i{
    background-color: var(--color-violet);
    color: var(--color-white);
}

.btn i {
    padding-right: 5px;
}

/* effetti */
.btn:hover{
    box-shadow: 0px 10px 10px #29284141;
    transition:1s;
}

.btn.blue:hover,
.btn.blue:hover i{
    background-color: #9fa6f8;
}
.btn.black:hover{
    background-color: #424255;
}

.btn.white:hover,
.btn.white.download:hover i {
    color: #8590ff;
}

nav a:hover,
footer li a:hover{
    text-decoration: underline;

}

/* nav ........................... */
nav {
    background-color:#292841;
    padding: var(--space-XS) 0;
    font-size: 1rem;
}

header nav .container {
    display: flex;
    justify-content: space-between;
}

header .nav-link {
    flex-grow: 1;
}

header .nav-logo,
header .nav-login {
    min-width: 150px;
}

header .nav-link ul {
    text-align: center;
}

header .nav-link li,
footer .footer-social i {
    padding: 0 var(--space-S);

}

header .nav-logo>*,
header .nav-link li,
header .nav-login a {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

header .nav-login {
    text-align: right;
}

header *,
footer * {
    color: var(--color-white);
}

/* rendere più ampia l'area cliccabile dei link */
.nav-link * {
    height: 100%;
}

.nav-link a {
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

header article .description {
    padding-bottom: var(--space-S);
}

.article-btn {
    padding: var(--space-S);
}

.article-btn>* {
    display: inline;
    padding: 0 var(--space-S);
}

header article .btn i {
    color: #292841;
}

/* header article ................*/
header article {
    background-color:#292841;
    background-size: cover;
    background-position: center;
    padding: var(--space-L);
}

header article .container{
    display: flex;   
}

header article .container-small {
   flex-basis: 45%;
}
header article .container-big{
    flex-basis: 55%;
}

header article .container-big img{
width: 105%;
}

/* main  section ......................*/

main .columns.container{
    display: flex;
    width: 920px;
    overflow: hidden;
    gap: var(--space-XS);
    padding: var(--space-L) 0;
}

main .columns .column_1.container,
main .columns .column_2.container{
    display: flex;
    flex-direction: column;
    gap: var(--space-XS) 0;
    
}

 main .col{
    background-color: #f5f5f5;
    padding: 0 var(--space-M) ;
 
 }

 .col-download{
    max-height: 175px; /* no altezze fisse */
    text-align: center;
    
 }

 .col-img{
    max-height: 330px; /* no altezze fisse */
    overflow: hidden; 
 }
 .col-img img{
    width: 90%;
 }

.wrap .title h3{
    width: fit-content;
    margin: auto;
    padding: var(--space-M) 0;

}
main .half-wrap{
    padding: var(--space-M) ;
}

main .half-wrap .description{
    padding: var(--space-M);
}

main .columns .column_1.container section:last-child,
main .columns .column_2.container section:last-child{
    padding-bottom: var(--space-M);
}

/* footer............................ */

footer section {
    background-color: var(--color-dark-grey);

}

footer .container {
    display: flex;
    justify-content: space-between;
    gap: var(--space-M);
    padding: var(--space-M) 0;
}

.footer-section_1 .main-col {
    flex-basis: calc(100%/3);
}

.main-col .footer-title h3 {
    padding-bottom: var(--space-S);
}

.main-col .footer-language select {
    background-color: #292841;
    border: none;
}

.footer-language {
    display: flex;
    height: 20px;
    gap: 5px;
}

.main-col .footer-social i {
    padding: var(--space-S) var(--space-XS);
}

.footer-section_1 .footer-social li {
    display: inline-block;
}

footer .col ul {
    list-style-type: none;
    line-height: 2.6rem;
}

footer .col-title h4,
footer .footer-title h3 {
    color: var(--color-violet);
}

.footer-section_2 .container {
    justify-content: space-between;
    padding: var(--space-S);
    border-top: 1px solid var(--color-violet);

}

/* wave */

main .row:nth-of-type(2n),
main article.row{
    background-color: #f5f5f5;
}
svg.wave-1hkxOo{
    margin-bottom: -5px; 
}

